/* CSS Meyer Reset */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}














/* FONTS */


@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}







/* VARIABLES */


:root {
  --darkGreen: #1B3B36;
  --lightGreen: #C0D8D4;
  --green: #536969;
  --lightBeige: #FDF9F3;
}

/* 
  https://codepen.io/sosuke/pen/Pjoqqp 
  This allows to easily make the color of icons into what we want
*/
.filterSvgDark {
  filter: invert(17%) sepia(9%) saturate(2367%) hue-rotate(121deg) brightness(98%) contrast(89%);
}










/* ALL PAGES */


body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: var(--lightBeige);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  margin: 0;
}

h1 {
  font-weight: 700;
  color: var(--darkGreen);
  margin: 0;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  color: var(--darkGreen);
  margin: 0;
  font-size: 2rem;
}

p,
li {
  font-weight: 300;
  color: var(--darkGreen);
  margin: 0;
  font-size: 1rem;
}

label {
  color: var(--darkGreen);
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.spacingTop {
  padding-top: 4.5rem;
}

@media screen and (max-width: 768px) {
  .spacingTop {
    padding-top: 3.5rem;
  }
}

.mainTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.decorativeLine {
  border-bottom: 1px solid var(--darkGreen);
  width: 100%;
  max-width: 500px;
}

.doubleElement {
  display: flex;
  height: fit-content;
  width: 100%;
  gap: 2rem;
  padding: 9rem 1rem;
}

.firstElement {
  padding-top: 4.5rem;
}

.darkBackground {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--darkGreen);
}

.darkBackground h1, 
.darkBackground h2,
.darkBackground h3,
.darkBackground p,
.darkBackground li {
  color: var(--lightBeige);
}

.decorativeImage {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .doubleElement {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0rem;
    padding-bottom: 3.5rem;
    gap: 3.5rem;
    flex-direction: column;
  }

  .decorativeImage {
    width: 100vw;
    height: 435px;
    align-self: center;
  }

  .reverseFlex {
    flex-direction: column-reverse;
  }
}

.image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  .image {
    border-radius: 0rem;
  }
}

.halfContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.halfContainerSmallGap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.fullContainerNoGap {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .fullContainerNoGap {
    flex-direction: column;
  }
}

.max1400 {
  max-width: 1400px;
}

.max3000{
  max-width: 3000px;
}

.maxHeight600 {
  max-height: 600px;
}

.maxHeight300 {
  max-height: 300px;
}

.button {
  text-decoration: none;
  font-weight: 400;
  color: var(--lightBeige);
  display: flex;
  border-radius: 0.5rem;
  width: fit-content;
  align-items: center;
  height: 2.5rem;
  background-color: var(--darkGreen);
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid 1px var(--darkGreen);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: var(--lightBeige);
  color: var(--darkGreen);
  cursor: pointer;
}







/* HEADER */


.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-bottom: solid 1px var(--darkGreen);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.headerNav {
  display: flex;
}


.headerLinks {
  display: flex;
  gap: 1rem;
}

.menuListItem {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-weight: 400;
  color: var(--darkGreen);
  display: flex;
  width: fit-content;
  align-items: center;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  left: 1.2rem;
  right: 1.2rem;
  bottom: 0.3rem;
  height: 1px;
  background-color: var(--darkGreen);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
}






/* Large screens */
.logo, .logo svg {
  width: 93px;
  height: 100px;
}

#hamburgerButton {
  display: none;
}

.srOnly {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.mobileMenuSpecifics {
  display: none;
}

#mobileMenuLogo {
  display: none;
}

.homeLinkMobile {
  display: none;
}





/* Small screens */
@media screen and (max-width: 768px) {
  .logo, .logo svg {
    width: 58px;
    height: 60px;
  }

  #hamburgerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    appearance: none;
    background-color: transparent;
    border: none;
    color: var(--darkGreen);
  }

  #hamburgerButton svg {
    width: 24px;
    height: 24px;
  }

  .mobileMenuSpecifics {
    display: flex;
    justify-content: end;
  }

  .homeLinkMobile {
    display: flex;
  }

  .closeButton {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    color: var(--darkGreen);
  }

  .headerLinks {
    flex-direction: column;
    position: fixed;
    left: -120%;
    top: 0;
    padding: 2rem;
    margin: 0;
    height: 100vh;
    width: 100%;
    min-width: 100%;
    border-right: solid 1px var(--darkGreen);
    background-color: var(--lightBeige);
    transition: left 0.3s ease;
  }

  .headerLinks.active {
    left: 0;
  }

  #mobileMenuLogo {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .button {
    width: 100%;
    justify-content: center;  
  }
}










/* NEWSLETTER */
.mailingListList {
  color: var(--darkGreen);
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.mailingListList li p {
  display: inline;
}

.mailingListImage {
  height: 300px;
}

.mailingListImage .image {
  object-position: bottom;
}

#newsletterEmail {
  appearance: none;
  border: none;
  border-bottom: 1px solid var(--darkGreen);
  outline: none;
  background-color: transparent;
  color: var(--darkGreen);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#newsletterEmail::placeholder {
  color: var(--green); 
}

.smallInputGap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

output {
  background-color: #C0D8D4;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--darkGreen);
  display: none;
}

/* small screens */
@media screen and (max-width: 768px) {
  #mailingListSection {
    flex-direction: column;
  }

  .mailingListImage {
    width: 100vw;
    align-self: center;
  }

  .mailingListImage .image {
    border-radius: 0rem;
  }
}







/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--darkGreen);
  margin-top: auto;
}

.socialMediaList {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.socialMediaListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  list-style-type: none;
}

.socialMediaLink {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  width: 40px;
  height: 40px;
  color: var(--lightBeige);
}

.footerText {
  margin: 0;
  color: var(--lightBeige);
}